<!-- error 页面 -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./utils/utils.js"></script>
    <script src="./utils/index.js"></script>
    <!-- <link rel="stylesheet" href="../../stylesheets/style.css" /> -->
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
</html>
