<!-- index 首页-->
<%- include('layout/header',{ title:'首页'}) %>

<!-- <h1><%= title %></h1>
<div>
  姓名：
  <input type="text" placeholder="请输入姓名" />
</div>
<div>
  密码：
  <input type="text" placeholder="请输入密码" />
</div> -->
<div><button id="token">登录</button></div>
<div><button id="add">提交</button></div>

<!-- 底部 -->
<%- include('layout/footer') %>

<script>
  !$(document).ready(function () {
    $("#token").click(async () => {
      // $.post(
      //   "/admin/login",

      //   {
      //     mobile: 19942142065,
      //   },
      //   function (data, textStatus, jqXHR) {
      //     console.log("ajkx：ok");
      //     sessionStorage.setItem("token", data.token);
      //   }
      // );
      await $post("/admin/login", { mobile: 19942142065 });
    });

    $("#add").click(async () => {
      // let token = sessionStorage.getItem("token");
      await $post("/admin/sendmsg");
      // $.ajax({
      //   type: "post",
      //   url: "/admin/sendmsg",
      //   data: "data",
      //   dataType: "dataType",
      //   beforeSend: function (xhr) {
      //     xhr.setRequestHeader("Authorization", `Bearer ${token}`);
      //   },
      //   success: function (response) {
      //     console.log("ajkx：ok");
      //   },
      // });
    });
  });
</script>
