<!-- index 首页-->
<%- include('layout/header',{ title:'首页'}) %>

<!-- <h1><%= title %></h1>
<div>
  姓名：
  <input type="text" placeholder="请输入姓名" />
</div>
<div>
  密码：
  <input type="text" placeholder="请输入密码" />
</div> -->
<div><button id="token">登录</button></div>
<div><button id="add">提交</button></div>

<!-- 底部 -->
<%- include('layout/footer') %>

<script>
  !$(document).ready(function () {
    $("#token").click(async () => {
      let data = await axios.$post("/admin/login", { mobile: 19942142060 });
      console.log(data,"---------------*************")
      localStorage.setItem("token", data.token);
    });

    $("#add").click(async () => {
      await axios.$post("/admin/sendmsg", { mobile: 19942142060 });
    });
  });
</script>
